<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tobbetu.en4s"
    android:versionCode="9"
    android:versionName="1.08" >
    android:versionCode="13"
    android:versionName="1.12" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <permission
        android:name="com.tobbetu.en4s.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tobbetu.en4s.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.tobbetu.en4s.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tobbetu.en4s.permission.C2D_MESSAGE"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <compatible-screens>
        <!-- all small size screens -->
        <screen android:screenSize="small" android:screenDensity="ldpi" />
        <screen android:screenSize="small" android:screenDensity="mdpi" />
        <screen android:screenSize="small" android:screenDensity="hdpi" />
        <screen android:screenSize="small" android:screenDensity="xhdpi" />
        <!-- all normal size screens -->
        <screen android:screenSize="normal" android:screenDensity="ldpi" />
        <screen android:screenSize="normal" android:screenDensity="mdpi" />
        <screen android:screenSize="normal" android:screenDensity="hdpi" />
        <screen android:screenSize="normal" android:screenDensity="xhdpi" />
    </compatible-screens>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.tobbetu.en4s.LauncherActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tobbetu.en4s.LoginPageActivity"
            android:name="com.tobbetu.en4s.login.LoginPageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tobbetu.en4s.DetailsActivity"
            android:name="com.tobbetu.en4s.NewComplaint"
            android:name="com.tobbetu.en4s.complaint.DetailsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tobbetu.en4s.NewComplaint"
            android:name="com.tobbetu.en4s.complaint.NewComplaint"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tobbetu.en4s.BiggerMap"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tobbetu.en4s.MoreCommentsActivity"
            android:name="com.tobbetu.en4s.comment.MoreCommentsActivity"
            android:label="@string/title_activity_more_comments"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.tobbetu.en4s.RegisterPageActivity"
            android:name="com.tobbetu.en4s.register.RegisterPageActivity"
            android:label="@string/title_activity_register_page"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tobbetu.en4s.TakePhotoActivity"
            android:name="com.tobbetu.en4s.complaint.TakePhotoActivity"
            android:label="@string/title_activity_take_photo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tobbetu.en4s.ListActivity"
            android:name="com.tobbetu.en4s.navigationDrawer.ListActivity"
            android:label="@string/title_activity_list"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.tobbetu.en4s.BiggerImage"
            android:label="@string/title_activity_bigger_image" >
        </activity>
            android:name="com.tobbetu.en4s.biggerImage.BiggerImage"
            android:label="@string/title_activity_bigger_image" >
        </activity>
        <activity
            android:name="com.tobbetu.en4s.settingsList.SettingsListActivity"
            android:label="@string/title_activity_settings_list" >
        </activity>
        <activity
            android:name="com.tobbetu.en4s.announcement.AnnouncementsActivity"
            android:label="@string/title_activity_notifications" >
        </activity>
        <activity
            android:name="com.tobbetu.en4s.announcement.AnnouncementDetailsActivity"
            android:label="@string/title_activity_announcement_details" >
        </activity>

        <service
            android:name="com.tobbetu.en4s.service.EnforceService"
            android:enabled="true" />
        <receiver
            android:name="com.tobbetu.en4s.NotificationReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.tobbetu.en4s" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_API_KEY" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
